@use "../../global" as *;
@use "../../partials" as *;

.footer {
  background-color: #f2f2f2;
  padding-top: 3rem;
  svg {
    color: #03be64;
    transition: 0.3s;
    &:hover {
      fill-opacity: 0.7;
    }
  }
  .footer-body {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    @include flex-center;
    flex-direction: column;
    gap: 20px;
    @include breakpoint(tab992) {
      @include flex-between;
      flex-direction: row;
    }
    padding-bottom: 30px;
    .logo {
      width: 150px;
      margin-bottom: 20px;
    }
    .resourse-wrapper {
      display: flex;
      justify-content: flex-end;
      gap: 100px;
      @include breakpoint(tab992) {
        width: 30%;
      }
      .nav-link {
        color: #263238;
        padding-left: 0;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .footer-address {
      ul {
        li {
          display: flex;
          gap: 10px;
          padding: 6px 0px;
          color: black;
          a {
            color: rgba(black, 0.7);
          }
        }
      }
    }
  }
  .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 0px;
    border-top: 1px solid rgb(209, 209, 209);
    gap: 10px;
    @include breakpoint(mobile576) {
      @include flex-between;
      flex-direction: row;
    }
    .icon-wrapper {
      display: flex;
      max-width: 12rem;
      gap: 16px;
    }
  }
}
