$time: 350ms;

// DEFAULT COLORS
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$primary: #55ac33; // #ffbc13

// THEME-COLORS

// BACKGROUND-COLORS
$black-300: rgba(0, 0, 0, 0.3);
$black-500: rgba(0, 0, 0, 0.5);
$black-800: rgba(0, 0, 0, 0.8);
// TEXT-COLORS
$text-primary: #4b4b4b;
$text-secondary: #777;

// GRADIENT-COLORS

$danger: hsl(0, 91%, 54%);

// BORDER-COLORS

// SHADOWS

// BOX-SHADOWS
$authshadow: 0 0 0.25rem 0 rgba($black, 0.2);
