@use "../global" as *;
@use "../partials" as *;
.hero {
  position: relative;
  top: 70px;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  // height: 100vh;
  // background-color: white;
  overflow: hidden;
  text-align: center;
  #video-box{
    height: 600px;
    width: 100%;
    opacity: .60;
    
    // z-index: 1111111111111111;
    // filter: contrast(200%);
    background-color: rgba(0,0,0,.5);
  }
  
  video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
   &::after {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 999;
    content: '';
  }
  
#hero-content {
  position: absolute;
  // background-color: azure;
  width: 600px;
  height: 200px;
  z-index: 100;
  // border: 3px solid darkslategray;
  // border: 5px solid yellow;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: azure;
  // color: palegoldenrod;
  z-index: 1000;
  padding: 0 30px;
}
#hero-button-container {
  
  display: flex;
  align-items: center;
  margin-top: 15px;

}

button{
  // display: inline-block;
 padding: 10px 20px;
  border-radius: 20px;
  margin: 10px;
  background-color: transparent;
  border: 1px ridge darkslategray;
  border: none;
  user-select: none;
  outline: none;
  color: azure;
  font-weight: 600;
}
 div button:nth-of-type(1){
  background-color: $primary;
  transition: opacity .1s;
  
  &:hover{
    opacity: .85;
  }
}
div button:nth-of-type(2){
  border: 1px solid #f0f0f0;
  
  
  &:hover{
    // background-color: #050505;
    opacity: .8;
  }
}

div h1{
  color: black;
  font-size: 50px;
  margin-bottom: 16px;
  color: #fff;
 
}


}
.gap {
  height: 80px;
}

.contactus {
  &-details {

  padding: 100px 0;
  }
  .contact-header  {
    text-align: center;
    font-weight: 600;
    padding-bottom: 50px;
    .contact-title {
      font-weight: 700;
    }
  }
}

