#service {
  padding-top: 6rem !important;
  margin-top: 6rem;
  .service-div {
    width: 34rem;
    max-width: 100%;
    .services {
      position: relative;
      color: #000;
      display: inline-block;
      text-shadow: 0 0 2px white;
      font-weight: 1000;
    }
  }
  .service-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 3rem 0;
    .service-item {
      .circle {
        border: 2px solid lightgray;
        height: 110px;
        border-radius: 50%;
        width: 110px;
        position: relative;
        transition: transform 2s linear;
        animation: loop infinite 3s linear;
        animation-play-state: paused;

        .dot2 {
          left: 93%;
        }
        .common {
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: lightgray;
          border-radius: 50%;
          position: absolute;
          top: 39%;
          transition: animation 2s;
        }
        &::after {
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: lightgray;
          border-radius: 50%;
          position: absolute;
          top: 39%;
          transition: animation 2s;
          left: -9%;
        }
        &::before {
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: lightgray;
          border-radius: 50%;
          position: absolute;
          top: 39%;
          transition: animation 2s;
          right: -9%;
        }
      }
      &:hover {
        .circle {
          animation: loop infinite 3s linear;
        }
      }

      .service-icon {
        position: relative;
        width: 112px;
        .service-img {
          position: absolute;
          top: 30%;
          left: 50%;
          width: 50%;
          transform: translate(-50%);
          fill: #d3d3d3;
        }
      }

      .service-body h2 {
        font-size: x-large;
        text-align: center;
      }
      .service-body p {
        font-size: medium;
        text-align: center;
      }
    }
  }
}

@keyframes loop {
  to {
    transform: rotate(360deg);
  }
}
