@use "../global" as *;
@use "../partials" as *;

.text-primary {
  color: $primary !important;
}
.cursor-pointer {
  cursor: pointer;
}
.overflow-hidden {
  overflow: hidden;
}
.modal-header {
  position: absolute;
  right: 1rem;
  z-index: 3;
}
.icon {
  width: 20px;
  height: 20px;
}

.text-muted {
  color: #a8adaf !important;
  font-size: 0.875rem;
  font-weight: 500;
}
