@use "../../global" as *;
@use "../../partials" as *;
header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all .8s ease-in-out;
  z-index: 9999;
}

.navbar {
  
  .logo {
    width: 100px;
    height: 60px;
    color: white;
    @include font($primaryFont, 18, semibold, normal, normal);
    @include flex;
    gap: 8px;
    & > img {
      object-fit: contain;
    }
  }
  .zp-btn {
    @include breakpoint(phone500) {
      padding: 8px 10px !important;
    }
  }
  @include breakpoint(desktop1200) {
    .logo {
      flex: 1;
      @include font($primaryFont, 25, semibold, normal, normal);
    }
  }
  .offcanvas {
    min-height: 0;
    background-color: $primary;
    width: min(70vw, 400px);

    .nav-link {
      color: #fff;
      transition: 0.3s;
      margin: 0px 10px;
      padding: 5px 0;
      position: relative;
      @include breakpoint(desktop1200) {
        color: #111;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: $primary;
        transition: 0.3s;
        left: 50%;
        transform: translateX(-50%);
      }
      &:hover::after {
        width: 100%;
      }
      &:hover {
        color: $primary;
        font-weight: 500;
      }
    }
  }
  .contact {
    color: $primary;
  }
}

.active_nav_link {
  color: $primary !important;
  font-weight: 500;
  position: relative;
  &::after {
    width: 100% !important;
    height: 2px;
    background-color: $primary;
  }
}
